:root{
    --cor-fundo-escuro: #f07dae;
    --cor-fundeiro: #ff8ec6;
}
#KirbyLogo1{
    height: 150px;
    width: auto;
}
#KirbyLogo2{
    height: 250px;
    width: auto;
}
.c-Login{
    background-color: var(--cor-fundo-escuro);
}
body{
    background-color: var(--cor-fundeiro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Kirby_espera{
    height: 40px;
    width: auto;
}
footer{
background-color: var(--cor-fundo-escuro);
}
.buttomlogin{
    width: 120px;
}
.darkpink{
    background-color: #b1457b;
    height: 300px;
    padding: 20px;
}
.MainImage{
    margin: 48px;
}

.Kawasaki{
    position: relative;
}