#KirbyLogo{
    height: 150px;
    width: auto;
}
.c-Login{
    background-color: #f07dae;
}
body{
    background-color: #ff8ec6;
}
.Kirby_espera{
    height: 40px;
    width: auto;
}
footer{
background-color: #f07dae;
}
