:root{
    --cor-fundo-escuro: #f07dae;
    --cor-fundeiro: #ff8ec6;
}
#KirbyLogo{
    height: 150px;
    width: auto;
}
.c-Login{
    background-color: var(--cor-fundo-escuro);
}
body{
    background-color: var(--cor-fundeiro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Kirby_espera{
    height: 40px;
    width: auto;
}
footer{
background-color: var(--cor-fundo-escuro);
}
