:root{
    --cor-fundo-escuro: #f07dae;
    --cor-fundeiro: #ff8ec6;
}
#KirbyLogo1{
    height: 150px;
    width: auto;
}
#KirbyLogo2{
    height: 150px;
    width: auto;
    margin: 30px;
}
.corFundo{
    background-color: var(--cor-fundo-escuro);
}
body{
    background-color: var(--cor-fundeiro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Kirby_espera{
    height: 40px;
    width: auto;
}
footer{
background-color: var(--cor-fundo-escuro);
bottom: 0px;
}
.buttomlogin{
    width: 120px;
}
.darkpink{
    background-color: #b1457b;
}
.MainImage{
    margin: 48px;
}

.Kawasaki{
    position: relative;
    width: 360px;
    height: 360px;
    min-width: 360px;
    margin-left: 90px;
}
.posFooter{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.adapt{
    height: auto;
    width: 50%;
}
.FlyKirby{
    width: 240px;
    height: 240px;
    margin: 90px;
    margin-right: 120px;
}